/*!
*Styles for form plugin Subscribe for mailchimp ajax.
*/
.sfma-subscribe-input-box{
    position: relative;
    width: 100%;
}

.sfma-subscribe-input-box input [type="text"]{
    margin-bottom: 10px;
    width: 100%;
}
.sfma-subscribe-input-box .info{
    display: none;
    opacity: 0;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    position: absolute;
    top: calc(50% - 30px);
    width: 100%;
    padding: 10px 20px;
    text-align: center;
}

.sfma-subscribe-input-box .info.alert{
    display: block;


}
.sfma-subscribe-input-box .info.alert.visible{
    opacity: 1;
}

.sfma-subscribe-input-box input + button, .sfma-subscribe-input-box input + input[type="button"], .sfma-subscribe-input-box input + input[type="submit"] {
    padding: 0.75em 2em;
}
.sfma-subscribe-input-box button, .sfma-subscribe-input-box input[type="button"], .sfma-subscribe-input-box input[type="submit"] {
    background-color: #222;
    border: 0;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: 800;
    line-height: 1;
    padding: 1em 2em;
    text-shadow: none;
    -webkit-transition: background 0.2s;
    transition: background 0.2s;
}

.sfma-subscribe-input-box button, .sfma-subscribe-input-box input {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.5;
    transition: background 0.2s;
    margin-bottom: 10px;
}
